/* common */

h2{
    font-weight: normal;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 40px;
}

h3{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}

li{
    list-style: none;
}

p{
    padding: 0;
    margin: 0;
}

/* top */

.sp{
    display: block !important;
}

.pc{
    display: none !important;
}

.arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes move{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(70px);
        opacity: 0;
    }
}

/* about */

.about{
    margin-bottom: 200px;
}

.about h2{
    margin-top: 140px;
    margin-bottom: 20px;
}



.shida{
    width: calc(100% - 70%);
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%;
}

.detail{
    text-align: left;
}

.name{
    font-size: 30px;
}

.detail>p{
    text-align: center;
    padding-top: 20px;
}

/* works */

.works > h2{
    padding-bottom: 100px;
}

.work{
    margin-bottom: 80px;
}

.works img{
    display: block;
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
}

.work:hover{
    opacity: .8;
}

.works h3{
    margin: 0;
    margin-bottom: 20xp;
}

.works a{
    text-decoration: none;
    color: inherit;
}

.works p{
    text-align: center;
}

/* skills */

.skills img{
    object-fit: cover;
    width: 200px;
    height: 300px;
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.skills .pie{
    margin-bottom: 40px;
}

#html{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 60%, #d9d9d9 60% 100%);
}

#css{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 50%, #d9d9d9 50% 100%);
}

#JS{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 30%, #d9d9d9 30% 100%);
}

#php{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 40%, #d9d9d9 40% 100%);
}

#java{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 40%, #d9d9d9 40% 100%);
}

#kotlin{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 40%, #d9d9d9 40% 100%);
}

#eclipse{
    text-align: center;
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 25%, #d9d9d9 25% 100%);
}

#android{
    text-align: center;
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 40%, #d9d9d9 40% 100%);
}

#linux{
    background-image: radial-gradient(#f2f2f2 30%, transparent 31%), conic-gradient(#4169e1 0% 40%, #d9d9d9 40% 100%);
}

.pie span{
    font-size: 25px;
}

/* links */

.twitter,
.instagram{
    font-size: 50px;
}

.links .container{
    display: flex;
    justify-content: center;
}

.links a{
    color: black;
}

.twitter{
    margin-right: calc(100% - 90%);
}

footer{
    margin-top: 20px;
    background: #a9a9a9;
    height: 100px;
}

footer p{
    text-align: center;
    line-height: 100px;
    opacity: .8;
}

/* medium screen */

@media(min-width: 600px){

    .main{
        width: 100%;
    }

    h2{
        /* font-size: 35px; */
    }

    .about .container{
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-right: calc(100% - 90%);
        margin-left: calc(100% - 90%);
    }

    .works .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* large screen */

@media(min-width: 800px){

    .sp{
        display: none !important;
    }

    .pc{
        display: block !important;
    }
    
    .about .container{
        max-width: 800px;
        margin: 0 auto;
    }

    .works .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* ふわっと表示 */

.fuwa {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(50px); */
    transform: translateY(50px);
    transition: all 1s;
  }
  .fuwa.show {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0px); */
    transform: translateY(0px);
  }